[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[user]
  name = Lars Bekkema
  email = lars.bekkema@gmail.com
[credential]
  helper = osxkeychain
[init]
  defaultBranch = main
